include AUTHORS
include CHANGELOG
include LICENSE.txt
include README.md
recursive-include linop *.py
recursive-include tests *.py
recursive-include doc *
recursive-exclude doc/build *
exclude MANIFEST.in
